body {
	font-family: "Muli", sans-serif;
}

/*...............................
nav
............................*/
.logo {
	font-size: 22px;
	color: #000;
	font-weight: 600;
	text-transform: uppercase;
}
.nav-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
}
.navigation {
	font-size: 15px;
	font-weight: 600;
	padding-top: 5px;
}
.navigation__link {
	color: #52575d;
	text-decoration: none;
	margin-right: 30px;
}
.navigation__link:hover,
.navigation__link:active,
.navigation__link:focus {
	color: #f72464;
	text-decoration: none;
	margin-right: 30px;
}
.cart__number {
	width: 19px;
	height: 19px;
	background-color: #f72464;
	border-radius: 10px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	padding-top: 1px;
	position: absolute;
	left: 22px;
	top: 15px;
}
.cart {
	position: relative;
}
/*...............................
header
............................*/

.header {
	height: 700px;
	overflow: hidden;
	display: flex;
	align-items: center;
	position: relative;
	display: flex;
}
.header .container {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	max-width: 100%;
}
.header__bg {
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 0;
	width: 55%;
	background-image: url(../img/girl-1.png);
	background-repeat: no-repeat;
	background-position: 10% 0%;
	background-color: #f9f9f9;
	z-index: -1;
}
.header__content {
	width: 750px;
	margin-left: 400px;
}
.header__title {
	font-size: 80px;
	font-family: "lora", serif;
	line-height: 1.25;
	margin-bottom: 25px;
}

.header__description {
	color: #52575d;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 50px;
}
.header__button {
	background-color: #f72464;
	font-size: 20px;
	color: #fff;
	font-family: "lora", serif;
	padding-left: 45px;
	padding-right: 45px;
	display: inline-block;
	padding-top: 14px;
	height: 50px;
	line-height: 1;
	border-radius: 3px;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.3);
}
.header__button:hover {
	background-color: #da0f4d;
	text-decoration: none;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);
	color: #ffffff;
}

.title {
	font-size: 35px;
	color: #222222;
	font-family: "Lora", serif;
	text-align: center;
	margin: 0;
	margin-bottom: 5px;
	font-weight: 600;
}
.subtitle {
	font-size: 12px;
	color: #919191;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 100px;
}
.section {
	padding-top: 100px;
	padding-bottom: 100px;
	text-decoration: none;
}
.description {
	color: #b0b0b0;
	font-size: 15px;
	line-height: 1.5;
	text-align: center;
}
.subtitle--lowercase {
	text-transform: none;
}
.button-outline {
	border-color: rgb(247, 36, 100);
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	height: 38px;
	font-size: 14px;
	font-family: "lora", serif;
	text-transform: uppercase;
	line-height: 1;
	padding-top: 12px;
	width: 220px;
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
	color: rgb(145, 145, 145);
	text-decoration: none;
	transition: all 0.2s ease-in;
}
.button-outline:hover {
	text-decoration: none;
	transition: all 0.2s ease-in;
	border-color: rgb(247, 36, 100);
	background-color: rgb(247, 36, 100);
	color: rgb(145, 145, 145);
	font-weight: 600;
}
/* 

                    CARD

*/

.card {
	border: none;
	font-family: "lora", serif;
	text-align: center;
	margin-bottom: 50px;
}
.card__image {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
.card__title {
	font-family: "lora", serif;
	color: #222222;
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: 600;
}
.card__cost {
	font-size: 13px;
	color: #f72464;
}
.card__cost span {
	color: #838b8f;
	text-decoration: line-through;
	margin-right: 5px;
}
.card__hover {
	position: absolute;
	width: 100%;
	height: 82%;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	flex-direction: column;
	opacity: 0;
}
.card__hover:hover {
	opacity: 1;
	transition: all 0.2s ease-in;
}
.card__image img {
	min-width: 100%;
}
.card__button {
	background-color: #f72464;
	font-size: 14px;
	color: #fff;
	display: inline-block;
	padding-top: 14px;
	height: 40px;
	line-height: 1;
	border-radius: 3px;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.3);
	width: 120px;
	border-radius: 3px;
	text-decoration: none;
	transition: all 0.2 ease-in;
	margin-bottom: 12px;
}
.card__button:hover {
	background-color: #da0f4d;
	text-decoration: none;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);
	color: #ffffff;
}
/* 

	Adv block

*/

.adv-wrapper-1 {
	height: 185px;
	background-image: url(../img/bg-1.png);
	background-repeat: no-repeat;
	background-position: center;
	block-size: cover;
	background-color: black;
	align-items: center;
}
.adv-wrapper-1 .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
.adv-wrapper-2 {
	height: 185px;
	background-image: url(../img/bg-2.png);
	background-repeat: no-repeat;
	background-position: center;
	block-size: cover;
	background-color: black;
	width: 100%;
}
.adv-wrapper-2 .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
.adv__title {
	font-size: 60px;
	font-family: "lora", serif;
	color: white;
	line-height: 1.2;
}
.adv__button {
	width: 225px;
	height: 60px;
	box-shadow: 0 5px 30px rgba(31, 35, 37, 0.25);
	border-radius: 3px;
	background-color: #f72464;
	font-family: "lora", serif;
	transition: all 0.2 ease-in;
	line-height: 1;
	color: white;
	padding: 15px 60px;
}
.adv__button:hover {
	color: white;
	box-shadow: 0 5px 30px rgba(31, 35, 37, 0.4);
	text-decoration: none;
}
.adv__img {
	box-sizing: content-box;
}

/* 

	BLOG


*/
.blog {
	margin-bottom: 25px;
}
.col-md-2 {
}
.col-md-4 {
}
.blog__title {
	font-size: 18px;
	font-family: "lora", serif;
	line-height: 1.5;
	color: #4d4d4d;
	font-weight: 600;
	margin-bottom: 20px;
}

.blog__desc {
	font-size: 15px;
	line-height: 1.5;
	color: #bababa;
	margin-bottom: 10px;
}
.blog__read-more {
	font-size: 15px;
	line-height: 1.2;
	font-family: "lora", serif;
	font-weight: 600;
	text-decoration: none;
	color: #7e7e7e;
}
.blog__read-more:hover {
	text-decoration: none;
}
/* 

	FOOTER
*/

.footer {
	background-color: #000000;
	padding: 20px 0 25px;
	text-align: center;
}
.footer-nav {
	margin-bottom: 20px;
}
.footer-nav__link {
	font-size: 13px;
	line-height: 1.5;
	color: #b7b7b7;
	margin-right: 35px;
}
.footer-nav__link:hover {
	background-color: #f72464;
}
.footer-nav__link:last-child {
	margin-right: 0;
}
.footer__social {
	margin-bottom: 20px;
}
.footer__social img {
	margin-right: 25px;
}
.footer__social img:last-child {
	margin-right: 0;
}
.footer__copyright {
	color: #5b5b5b;
	font-size: 12px;
}

.mt-60 {
	margin-top: 60px;
	margin-bottom: 100px;
}
/* 

	SUBSCRIBE


*/
.subscribe {
	display: flex;
	justify-content: center;
}
.subscribe__input {
	font-size: 15px;
	line-height: 1;
	text-align: left;
	color: #e0e0e0;
	border-width: 1px;
	border-color: #fee3eb;
	border-style: solid;
	border-radius: 3px;
	height: 40px;
	width: 248px;
	margin-right: 10px;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
}
.subscribe__input:hover,
.subscribe__input:focus {
	outline: none;
}
.subscribe__button {
	background-color: #f72464;
	font-size: 15px;
	color: #fff;
	display: inline-block;
	height: 40px;
	line-height: 1;
	border-radius: 3px;
	width: 120px;
	border-radius: 3px;
	text-decoration: none;
	transition: all 0.2 ease-in;
	margin-bottom: 12px;
	border: none;
	cursor: pointer;
	outline: none;
}
.subscribe__button:hover {
	background-color: #da0f4d;
	text-decoration: none;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);
	color: #ffffff;
}
